<?xml version="1.0"?>
<configuration>
	<configSections>
    <sectionGroup name="southworks.identityModel" type="Southworks.IdentityModel.MultiProtocolIssuer.Configuration.SouthworksIdentityModelSectionGroup, Southworks.IdentityModel.MultiProtocolIssuer, Version=1.0.0.0, Culture=neutral">
      <section name="multiProtocolIssuer" type="Southworks.IdentityModel.MultiProtocolIssuer.Configuration.MultiProtocolIssuerSection, Southworks.IdentityModel.MultiProtocolIssuer, Version=1.0.0.0, Culture=neutral" />
    </sectionGroup>
  </configSections>
  <appSettings>
  </appSettings>
  
  <southworks.identityModel>
    <multiProtocolIssuer identifier="https://stsrealm" responseEndpoint="https://response-endpoint">
      <signingCertificate findValue="CN=localhost" storeLocation="LocalMachine" storeName="My" x509FindType="FindBySubjectName"/>
      <claimProviders>
        <add url="https://providerurl0" protocolHandler="protocolHandler0" identifier="provider0" profile="profileA" allowCompleteProfileForm="true"  />
        <add url="https://providerurl1" protocolHandler="protocolHandler1" identifier="provider1" profile="profileB" />
        <add url="https://providerurl2" protocolHandler="protocolHandler2" identifier="provider2" profile="profileB">
          <params>
            <add key="key1" value="value1" />
            <add key="key2" value="value2" />
          </params>
        </add>
      </claimProviders>
      
      <scopes>
        <scope uri="https://relyingpartyidentifier/theurl" identifier="https://relyingpartyidentifier/">
          <claimRequirements>
            <add type="https://profile-A/name" name="name" demandLevel="Required" />
            <add type="https://profile-A/email" name="email" demandLevel="Request" />

            <add type="https://profile-B/name" name="name" demandLevel="Required" />
            <add type="https://profile-B/email" name="email" demandLevel="Request" />
          </claimRequirements>

          <allowedClaimProviders>
            <add name="name0" />
            <add name="name1" />
          </allowedClaimProviders>
          
        </scope>
      </scopes>
    </multiProtocolIssuer>
  </southworks.identityModel>
  
</configuration>
